/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .h-grid {
    width: 80%;
  }
}
@media screen and (min-width: 850px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
    margin-left: 100px;
    margin-right: 100px;
  }
  .section-title {
    margin-bottom: 3rem;
    font-size: 3rem;
  }
}

/* Proyects */
@media screen and (min-width: 768px) {
  .projects__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .projects__links {
    width: 350px;
    height: 350px;
    margin-bottom: 2rem;
  }
  .projects__links img {
    width: 350px;
    height: 230px;
    object-fit: contain;
  }
}